* {
    /* border: 1px solid black; */
    /* This bk colr cover the bottom part grey */
    background-color: lightgrey;
    box-sizing: border-box;
}

h2, p, .container-fluid {
    background-color: white;
}
.row {
    line-height: 30px;
    padding-left: 25px;
    padding-right: 25px;
    background: lightgray;
}

.navbar {
    /* border: 1px solid brown; */
    background-color: white;
    line-height: 40px;
    /* Create White space on NAV bar Left */
    margin-left: 25px;
    margin-right: 25px; 
    /* Padding 0 remove navbar space on top */
    padding:0;
    border-bottom: 2px solid grey;
}

.navbar-brand {
    font-family:"Times New Roman", 'Times New Roman', Times, serif;
    font-size:40px;
    color: goldenrod; 
    background-color: rgb(170, 238, 170);
    padding: 20px;
}

#navbarSupportedContent {
    background-color: white;
    float: right;
}

.nav-item {
    padding:10px;
    background-color: white;
}

#row1 {
    /* Add padding space so it can be 
    colored grey right above "About Me" */
    padding-top:40px;
}

#col1{
    color: green;
    background-color: white;
}

#col2 {
    background-color: white;
}

#col1 h2 {
    line-height: 100px;
}

#pic {
    width:250px;
    max-width: 100%;
    height: auto;
    display:block;
    margin-right:20px;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 980px) {
    body {
      background-color: white;
      color: black;
      align-content: center;
    }
  }
  
/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 640px) {
    body {
      background-color:white;
      color: black;
    }

    #pic {
        width:150%;
    }

    .navbar {
        margin:0;
    }

    .navbar-brand {
        width:100%;
        text-align: center;
    }



   
