* {
    /* border: 1px solid black; */
    /* background-color: lightgray; */
    box-sizing: border-box;
}
.row {
    /* border: 1px solid orange; */
    line-height: 30px;
    padding:25px;
    /* background:green; */
}

.navbar-brand {
    font-family:"Times New Roman", 'Times New Roman', Times, serif;
    font-size:40px;
    color: goldenrod; 
    background-color: lightgreen;
    padding: 20px;
}

.navbar {
    /* border: 1px solid brown; */
    background-color: white;
    line-height: 40px;
    /* Create White space on NAV bar Left */
    margin-left: 25px;
    margin-right: 25px; 
    /* Padding 0 remove navbar space on top */
    padding:0;
    border-bottom: 2px solid grey;
}


.nav-item {
    padding:10px;
    word-wrap: none;
}


#col1{
    color: green;
}

#pic {
    width:250px;
    max-width: 100%;
    height: auto;
    display:block;
    margin-right:20px;
}



/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
    body {
      background-color: white;
      color: black;
      align-content: center;
    }
  }
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 640px) {
    body {
      background-color:white;
      color: black;
    }

    #pic {
        width:150%;
    }

    .navbar-brand {
        width:110%;
        align-content: center;
    }

   
